# Pandas
Es una librería de Pyhton para el manejo y análisis de datos

## Caracteristicas

- Leer y escribir fácilmente ficheros en formato csv
- Permite acceder a los datos mediante índices
- Ofrece métodos para reordenar, dividir y combinar un conjunto de datos

En cmd
`pip install pandas`

In [2]:
import pandas as pd

In [3]:
datos = {
    'Nombre' : ['Ana', 'Luis', 'Pedro'],
    'Edad' : [23, 30, 27]
}

df = pd.DataFrame(datos)

print(df)

  Nombre  Edad
0    Ana    23
1   Luis    30
2  Pedro    27

### Series

Es un arreglo unidimensional que puede contener datos de cualquier tipo, como int, floar, string y tiene un indice asociado, lo que facilita el acceso y la manipulación de datos

In [ ]:
#Ejemplo 1
edad = [30, 40, 50]

In [13]:
serie = pd.Series(edad)

In [6]:
serie

0    30
1    40
2    50
dtype: int64

In [14]:
serie[1]

np.int64(40)

In [15]:
serie = pd.Series(edad, index = ['Alex', 'John', 'Maria'])

In [16]:
serie

Alex     30
John     40
Maria    50
dtype: int64

In [17]:
serie ['Alex']

np.int64(30)

In [18]:
# Ejemplo 2
naranjas = pd.Series([1, 4, 9, 2, 6, 10, 200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [20]:
naranjas = pd.Series([1, 4, 9, 2, 6, 10, 200], index = ['Marco', 'Ana', 'Jaun', 'Pedro', 'Estela', 'Ivan', 'Luis'])
print(naranjas)

Marco       1
Ana         4
Jaun        9
Pedro       2
Estela      6
Ivan       10
Luis      200
dtype: int64