## Operaciones con Listas

### Copiar una lista a otra

In [ ]:
# Forma incorrecta de copiar una lista
lista_1 = [1]
lista_2 = lista_1

print(f'Lista 1: {lista_1} Lista 2: {lista_2}')

Lista 1: [1] Lista 2: [1]

In [20]:
lista_2.append(10)
print(lista_2)
print(lista_1)

[1, 10]
[1, 10]

## Slicing o rebanadas

In [22]:
list_1 = [3, 4, 5, 6, 7, 8]
list_1[:]

[3, 4, 5, 6, 7, 8]

In [23]:
#Forma correcta
list_2 = list_1[:]
list_2.append(11)
list_2

[3, 4, 5, 6, 7, 8, 11]

In [24]:
list_1

[3, 4, 5, 6, 7, 8]

In [27]:
x = [4, 6, 7, 9, 12]
y = []
y = x.copy()
print(y)

[4, 6, 7, 9, 12]

### Slicing o rebanadas - Índices negativos

Observa el fragmento de código a continuación:

`my_list[start:end]`

Para confirmar:

1. **start** es el índice del primer elemento incluído en la rebanada
2. **end** es el índice del primer elemento no incluído en la rebanada

In [47]:
lista = [10, 8, 6, 4, 2]

lista_2 = lista [0:3]

print(f'La lista original es: {lista}. La lista nueva es : {lista_2}')

La lista original es: [10, 8, 6, 4, 2]. La lista nueva es : [10, 8, 6]

In [48]:
lista[2:-1]

[6, 4]

In [50]:
lista[1:]

[8, 6, 4, 2]

In [52]:
lista[4:-1]

[]

Dada la lista [10, 8, 6, 4, 2], eliminar los números 8 y 6

In [8]:
lista = [10, 8, 6, 4, 2]

lista_2 = lista [0:1] + lista [3:5]
 
lista_2

[10, 4, 2]

In [1]:
lista_3 = [10, 8, 6, 4, 2]

del lista_3[1:3]

lista_3

[10, 4, 2]

`pop`  remueve el último elemento de la lista si se llama sin argumentos

In [2]:
lista_3.pop()
lista_3

[10, 4]

In [7]:
lista_3 = []

lista_3.append(7)
lista_3.append(5)
lista_3.append(9)
lista_3.append(11)
lista_3.append(5)

lista_3

[7, 5, 9, 11, 5]

In [8]:
lista_3.pop(1)
lista_3

[7, 9, 11, 5]

In [12]:
list_example = ["a", 12, True]

print(list_example)

print(type(list_example))

['a', 12, True]
<class 'list'>

In [14]:
#Lista de listas

list_house = [["hallway", 100], ["kitchen", 85]]
print(list_house)
print(type(list_example))

[['hallway', 100], ['kitchen', 85]]
<class 'list'>

In [20]:
#Acceso al primer objeto de la lista
list_house[0]
print(list_house)
#Acceso al objeto de la lista y al índice interior del objeto
print(list_house[0][1])

[['hallway', 100], ['kitchen', 85]]
100

In [38]:
list_family = ['Heidi', 22, 'Ines', 54, 'CR7', 33, 'Oscar', 38]
print(list_family)

['Heidi', 22, 'Ines', 54, 'CR7', 33, 'Oscar', 38]

In [39]:
#Indexación
print(list_family[2])
print(list_family[-6])

Ines
Ines

In [40]:
#slicing [start, end]
#    inclusive:exclusive
print(list_family[3:5]) #No toma el último índice
print(list_family[:5]) #Desde el inicio hasta la posición 4
print(list_family[5:]) #Desde laa posición 5 hasta el final

[54, 'CR7']
['Heidi', 22, 'Ines', 54, 'CR7']
[33, 'Oscar', 38]

### **Manipulando Listas**

In [41]:
print(list_family)

['Heidi', 22, 'Ines', 54, 'CR7', 33, 'Oscar', 38]

In [42]:
list_family[-1] = 37
list_family

list_family[:2] = ['Mayumy', 24]
list_family

list_family[:2] = ['Mayumy', 24, True]
list_family

['Mayumy', 24, True, 'Ines', 54, 'CR7', 33, 'Oscar', 37]

In [44]:
#Agregar y remover elementos de la lista

#Agregar
fam_extendida = list_family + ['Azucena', 12]
fam_extendida

['Mayumy', 24, True, 'Ines', 54, 'CR7', 33, 'Oscar', 37, 'Azucena', 12]

In [45]:
#Eliminar 54
fam_extendida.pop(4)
fam_extendida

['Mayumy', 24, True, 'Ines', 'CR7', 33, 'Oscar', 37, 'Azucena', 12]

In [ ]:
#Eliminar 54
list_family = ['Heidi', 22, 'Ines', 54, 'CR7', 33, 'Oscar', 38]
list_family.remove(54)
list_family

['Heidi', 22, 'Ines', 'CR7', 33, 'Oscar', 38]

In [ ]:
#Eliminar 54
list_family = ['Heidi', 22, 'Ines', 54, 'CR7', 33, 'Oscar', 38]
del(list_family[3])
list_family

['Heidi', 22, 'Ines', 'CR7', 33, 'Oscar', 38]

Ejercicio: Eliminar 'poolhouse' y '24.5'

In [52]:
areas = ['hallway', 11.25, 'kitchen', 18.0, 'chilzon', 20.0, 
         'bedroom', 10.75, 'badroom', 10.50, 'poolhouse', 24.5, 
         'garage', 15.45]

del(areas[-4])
del(areas[-3])

areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chilzon',
 20.0,
 'bedroom',
 10.75,
 'badroom',
 10.5,
 'garage',
 15.45]

In [56]:
areas = ['hallway', 11.25, 'kitchen', 18.0, 'chilzon', 20.0, 
         'bedroom', 10.75, 'badroom', 10.50, 'poolhouse', 24.5, 
         'garage', 15.45]

del(areas[-4:-2])

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chilzon', 20.0, 'bedroom', 10.75, 'badroom', 10.5, 'garage', 15.45]

# Funciones y Paquetes

## **Función**

Es una pieza de código reutilizable destinada a resolver una tarea en particular

In [58]:
list_fam = [22, 54, 33, 38, 36]
print(list_fam)
print(f'El tamaño de la lista es: {len(list_fam)}')
print(f'El valor máximo de la lista es: {max(list_fam)}')

[22, 54, 33, 38, 36]
El tamaño de la lista es: 5
El valor máximo de la lista es: 54

In [61]:
#Redonde a 2 decimales
round(1.689, 2)

1.69

In [62]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [66]:
first = [51.25, 18.0, 20.0]
full_sorted = sorted(first) #Ordena ascendente
print(full_sorted)
full_sorted_asc = sorted(first, reverse=False) #Ordena ascendente
print(full_sorted_asc)
full_sorted_desc = sorted(first, reverse=True) #Ordena descendente
print(full_sorted_desc)

[18.0, 20.0, 51.25]
[18.0, 20.0, 51.25]
[51.25, 20.0, 18.0]

### **Métodos**
En Python todo es objeto, y cada objeto tiene métodos específicos asociados

- Objetos con diferentes métodos pueden tener métdos con el mismo nombre

In [69]:
list_fam = ['Heidi', 22, 'Ines', 54, 'CR7', 33, 'Oscar', 54]
print(f'Indice: {list_fam.index('CR7')}') #Obtiene el índice de la lista
print(f'Contar: {list_fam.count(54)}') #Cuenta cuántas veces aparece algo

Indice: 4
Contar: 2

In [71]:
del(list_fam[list_fam.index('CR7')])
print(list_fam)

['Heidi', 22, 'Ines', 54, 33, 'Oscar', 54]

In [72]:
name = 'mayumi'
print(name.capitalize())

Mayumi

In [76]:
lista_entornos = ['susel', 'brandon', 'alejandro', 'gabriel']
print(lista_entornos[0].capitalize())

Susel

In [77]:
print(name.replace('y', '*'))

ma*umi

In [78]:
name = 'mayumi'
name.upper()

'MAYUMI'

In [80]:
print(list_fam)
list_fam.reverse()
print(list_fam)

['Heidi', 22, 'Ines', 54, 33, 'Oscar', 54]
[54, 'Oscar', 33, 54, 'Ines', 22, 'Heidi']